* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 30px;

}

.container {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: absolute;
}

.inner {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    transition: all 1s linear 0;

}

.inner:nth-child(1) {
    top: 10px;
    left: 10px;
    background-color: red;
    z-index: 10;
}

.inner:nth-child(2) {
    top: 197px;
    left: 201px;
    background-color: green;
    z-index: 30;
    transition: all 0.5s ease;

}

.inner:nth-child(3) {
    bottom: 10px;
    right: 10px;
    background-color: blue;
    z-index: 20;
}

.box {
    width: 300px;
    height: 300px;
    background-color: green;
}

.inner:nth-child(2):hover {
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
}